{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <button onclick="triggerAlarm()">Trigger Alarm</button>
    <button onclick="clearAlarm()">Clear Alarm</button>
    <h1>Sign In</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>

    <script>
        function triggerAlarm() {
            console.log("Triggering alarm...");
            fetch('/trigger_alarm', { method: 'POST' })
                .then(response => {
                    if (response.ok) {
                        console.log("Alarm triggered successfully.");
                    } else {
                        console.error("Failed to trigger alarm.");
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                });
        }

        function clearAlarm() {
            console.log("Clearing alarm...");
            fetch('/clear_alarm', { method: 'POST' })
                .then(response => {
                    if (response.ok) {
                        console.log("Alarm cleared successfully.");
                    } else {
                        console.error("Failed to clear alarm.");
                    }
                })
                .catch(error => {
                    console.error("Error:", error);
                });
        }
    </script>
{% endblock %}