{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <button onclick="triggerAlarm()">Trigger Alarm</button>
    <h1>Sign In</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>

    <script>
        function triggerAlarm() {
            console.log("Triggering alarm...")
            fetch('trigger_alarm', {method: 'POST'})
                .then(response => {
                    if (response.ok) {
                        console.log("Alarm triggered successfully.");
                    } else {
                        console.log("Failed to trigger alarm.");
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert("An error occurred while triggering the alarm.");
                });
        }
    </script>
{% endblock %}